[user]
	name = Dean Sas
	email = dean@deansas.org
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[alias]
	st = status
	vco = commit --verbose
	localbranches = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
	cherry-pick = cherry-pick -x
	diffc = diff --cached
	conflict-patch = show -m --no-prefix -w -U20 HEAD --
[interactive]
	singlekey = true
[push]
	default = tracking
[rebase]
	autosquash = true
[diff]
	noprefix = true
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = vim-diff-improved vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = false
	keepBackup = false
